body {
    background-image: url('./freshg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-container{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 15%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

#welcomemsg{
    font-size: 100px;
    margin-bottom: 50px;
}

#mainbutton {
    background-color: #e74c3c;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    #mainbutton:hover {
        transform: scale(1.05);
    }
    
    #mainbutton:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.4);
    }