#MyNavbar {
    background-color: rgba(112, 128, 144, 0.5);
    width: 100%;
    top: 0;
    z-index: 200;
    padding: 20px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

#basic-navbar-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

.ml-auto .nav-link {
    margin-right: 25px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.card {
    width: 25%;
    margin: 2%;
}

.shared-deal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.profile {
    display: flex;
    flex-wrap: wrap;

}

#dealspage {
    display: flex;
}

#selectcity{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;
}

#filter{
    font-weight: bold;
}

#loaddeals{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    background-color: white;
}

#cardsdeals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.text-center{
    font-weight: bold;
}

#selectcity{
    display: flex;
    border-radius: 15px;
    background-color: white;
    width: 20%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}