#MyNavbar {
    background-color: #0E1541;
    width: 100%;
    top: 0;
    z-index: 200;
    padding: 20px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

#basic-navbar-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

.ml-auto .nav-link {
    margin-right: 25px;
}

.nav-link {
    color: white;
}

.card {
    width: 25%;
    margin: 2%;
}

.shared-deal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

