#MyNavbar {
    background-color: rgb(92, 158, 219);
    width: 100%;
    top: 0;
    z-index: 200;
    padding: 20px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
  }

#basic-navbar-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    text-decoration: underline;
}

.ml-auto .nav-link {
    margin-right: 25px;
}

.card {
    width: 25%;
    margin: 2%;
  }